@media only screen and (max-width: 1600px) {
  .navbar-logo {
    img {
      width: 160px !important;
    }
  }

  .sf-menu {
    a {
      font-size: 13px !important;
    }
  }

  .vlt-navbar-contacts {
    font-size: 13px !important;
    padding-right: 5px;
  }

  .vlt-navbar-inner {
    padding: 30px 3.75rem !important;
  }
}



@media only screen and (max-width: 768px) {
  h1 {
    font-size: 52px !important;
  }

  h3 {
    font-size: 36px !important;
    line-height: auto !important;
  }

  .vlt-post--masonry {
    height: 400px;
  }

  .contact-section {

    address,
    .tel {
      font-size: 18px !important;
    }
  }

  .home-container {
    display: flex !important;
    align-items: end !important;
  }
}









@media (min-width: 1025px) and (max-width: 1366px) {
  .rb-slider-container {
    height: 356px;
  }

  .rb-name {
    font-size: 2.5rem;
  }

  .rb-btn {
    padding: 5px 16px;
    font-size: 13px;
  }

  h3 {
    font-size: 2.8rem;
  }

  .pp-section {
    .feat-card {
      width: 425px;
      height: 320px;
    }

    .vlt-gap-50 {
      height: 2.125rem;
    }

    .card-bottom p {
      line-height: 1.4;
      font-size: .85rem;
    }
  }

  .vlt-default-menu__navigation .sf-menu>li+li {
    margin-left: 1.8rem;
  }

  .vlt-default-menu__navigation .sf-menu {
    text-align: right !important;
  }

  .blog-section {

    .vlt-post--masonry,
    .vlt-post-media {
      height: 400px;
    }

    .vlt-gap-100 {
      height: 3.25rem;
    }

    .vlt-post--masonry .vlt-post-footer {
      margin-top: 0;
    }
  }

  .book-section {
    h4 {
      font-size: 1.2rem !important;
    }
  }

  .card-icon {
    padding: 12px;
  }

  .card-icon svg {
    width: 55px;
    height: 55px;
  }

  .hero-section {
    .vlt-gap-160 {
      height: 0;
    }
  }

  .featured-works-section {

    .book-image {
      max-width: 30% !important;
    }

    .swiper-wrapper {
      height: 440px;
    }

    .book-content {
      padding: 0 20px;
    }

    .buy-btn {
      img {
        width: 16% !important;
      }
    }
  }
}